# Ignore everything in docker by default
docker/**

# Explicitly allow required docker files
!docker/php/
!docker/php/**
!docker/nginx/
!docker/nginx/**

# Git
.git

# Dependencies
laravel/node_modules
laravel/vendor

# Ignore Laravel runtime env only
laravel/.env
.env
.env.dev

# Allow Vite production env
!laravel/.env.production

# dev cache files
laravel/bootstrap/cache/*.php
!laravel/bootstrap/cache/.gitignore
